<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.pnehrer.rss.core"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="com.pnehrer.rss.core.RSSCore">

   <runtime>
      <library name="core.jar">
         <export name="*"/>
         <packages prefixes="com.pnehrer.rss.core,com.pnehrer.rss.internal.core"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <!--
      <import plugin="com.ibm.etools.xalanrt" export="true" optional="true"/>
      -->
   </requires>


   <extension-point id="translator" name="Source Translator" schema="schema/translator.exsd"/>

   <extension
         point="com.pnehrer.rss.core.translator">
      <translator
            description="Default translator for RSS versions 0.90, 0.91, 0.92, 1.0, and 2.0."
            class="com.pnehrer.rss.internal.core.DefaultTranslator"
            id="default">
      </translator>
   </extension>

</plugin>
