.menuBox {
	border: 2px solid;
	margin-left: 4px;
	font-size: smaller;
}

.menu {
	padding: 2px;
}

.menuSelf {
	padding: 2px;
	font-weight: bolder;
	color: white;
	background-color: navy;
}

.menuAncestor {
	padding: 2px;
	font-weight: bolder;
}

.searchForm {
	float: right;
	padding: 8px;
	color: white;
	font-size: smaller;
}

.searchText {
	border-style: none;
}

.searchText:focus {
	outline: 1px solid white;
}

.header {
	padding: 2px;
	background-color: black;
	margin: 4px 4px 0px 4px;
}

.content {
	border: 2px solid;
	margin: 4px 4px 0px 0px;
	padding: 4px;
}

.footer {
	padding: 4px;
	text-align: center;
	clear: left;
	font-size: smaller;
}

.icon {
	border-style: none;
	vertical-align: text-bottom;
}

a:link {
	color: navy;	
	text-decoration: none;
}

a:link:hover, a:visited:hover {
	color: navy;	
	text-decoration: underline;
}

a:visited {
	color: #000060;	
	text-decoration: none;
}

.extLink {
	color: white;
}

a.extLink:link, a.extLink:visited {
	color: white;
	text-decoration: none;
}

a.extLink:hover {
	color: white;
	text-decoration: underline;
}

body {
	margin: 0px;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: navy;
}

h1 {
	margin-top: 0px;
}

dt {
	color: navy;
	font-weight: bolder;
}

dl, dd {
	margin-bottom: 6px;
}