<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.pnehrer.rss.doc.user"
   name="Eclipse RSS Reader User Documentation"
   version="1.2.1"
   provider-name="Peter Nehrer">

   <runtime>
   </runtime>
   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>


   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="toc-book.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
