a:link {
	color: #ff6600;	
	text-decoration: none;
}

a:link:hover, a:visited:hover {
	color: #ff6600;	
	text-decoration: underline;
}

a:visited {
	color: #993300;	
	text-decoration: none;
}

body {
	font-family: sans-serif;
	font-size: smaller;
}

h1, h2, h3, h4, h5, h6 {
	color: #ff6600;
}

h1 {
	margin-top: 0px;
}

hr {
	border-color: #ff6600;
	color: #ff6600;
}

dt {
	color: #ff6600;
	font-weight: bolder;
}

dl, dd {
	margin-bottom: 6px;
}

ul {
	list-style-image: url('item_16.gif');
}
