<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.pnehrer.rss.source"
   name="Eclipse RSS Reader Source"
   version="2.0.0"
   provider-name="Peter Nehrer">

   <requires>
      <import plugin="org.eclipse.pde.core"/>
   </requires>

   <extension
         point="org.eclipse.pde.core.source">
      <location
            path="src">
      </location>
   </extension>

</plugin>
