<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.pnehrer.rss.ui"
   name="%pluginName"
   version="1.2.2"
   provider-name="%providerName"
   class="com.pnehrer.rss.ui.RSSUI">

   <runtime>
      <library name="ui.jar">
         <export name="*"/>
         <packages prefixes="com.pnehrer.rss.ui,com.pnehrer.rss.internal.ui"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.help.ui"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.update.ui.forms"/>
      <import plugin="com.pnehrer.rss.core"/>
   </requires>


   <extension-point id="linkbrowser" name="Link Browser" schema="schema/linkbrowser.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="RSS"
            id="rss.ui.category1">
      </category>
      <view
            name="Channel Detail"
            icon="detail_16.png"
            category="rss.ui.category1"
            class="com.pnehrer.rss.ui.views.ChannelDetailView"
            id="com.pnehrer.rss.ui.views.ChannelDetail">
      </view>
      <view
            name="Channel Navigator"
            icon="navigator_16.png"
            category="rss.ui.category1"
            class="com.pnehrer.rss.ui.views.ChannelNavigator"
            id="com.pnehrer.rss.ui.views.ChannelNavigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="RSS"
            id="rss.ui.category1">
      </category>
      <wizard
            name="RSS Channel"
            icon="new_16.png"
            category="rss.ui.category1"
            class="com.pnehrer.rss.ui.wizards.NewChannelWizard"
            id="com.pnehrer.rss.ui.wizards.NewChannelWizard">
         <selection
               class="org.eclipse.core.resources.IContainer">
         </selection>
         <description>
            Create new channel from RSS feed.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.rss"
            id="rss.ui.objectContribution1">
         <menu
               label="RSS"
               id="rss.ui.menu1">
            <groupMarker
                  name="browse">
            </groupMarker>
            <separator
                  name="update">
            </separator>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               label="Mark as Read"
               icon="item_16.gif"
               tooltip="Mark all items in selected channel as read."
               class="com.pnehrer.rss.ui.actions.MarkReadAction"
               menubarPath="rss.ui.menu1/additions"
               enablesFor="+"
               id="rss.ui.action4">
         </action>
         <action
               label="Text &amp;Input..."
               icon="textinput_16.png"
               tooltip="Submit text to channel site."
               class="com.pnehrer.rss.ui.actions.TextInputActionDelegate"
               menubarPath="rss.ui.menu1/browse"
               enablesFor="1"
               id="rss.ui.action3">
         </action>
         <action
               label="Open &amp;Link"
               icon="browse_16.png"
               tooltip="Open channel link in browser."
               class="com.pnehrer.rss.ui.actions.OpenLinkActionDelegate"
               menubarPath="rss.ui.menu1/browse"
               enablesFor="1"
               id="rss.ui.action2">
         </action>
         <action
               label="&amp;Update from Source"
               icon="update_16.png"
               tooltip="Update channel from its source."
               class="com.pnehrer.rss.ui.actions.UpdateActionDelegate"
               menubarPath="rss.ui.menu1/update"
               enablesFor="+"
               id="rss.ui.action1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="com.pnehrer.rss.core.IRSSElement"
            adaptable="true"
            name="RSS"
            icon="xml_16.gif"
            class="com.pnehrer.rss.internal.ui.RSSPropertyPage"
            id="rss.ui.page1">
      </page>
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="RSS"
            icon="xml_16.gif"
            nameFilter="*.rss"
            class="com.pnehrer.rss.internal.ui.RSSPropertyPage"
            id="rss.ui.page2">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="RSS"
            class="com.pnehrer.rss.internal.ui.RSSPreferencePage"
            id="com.pnehrer.rss">
      </page>
      <page
            name="Help Browser"
            category="com.pnehrer.rss"
            class="com.pnehrer.rss.internal.ui.linkbrowser.HelpBrowserPreferencePage"
            id="com.pnehrer.rss.ui.HelpBrowser">
      </page>
      <page
            name="User-configured Editor"
            category="com.pnehrer.rss"
            class="com.pnehrer.rss.internal.ui.linkbrowser.BrowserEditorPreferencePage"
            id="com.pnehrer.rss.ui.BrowserEditor">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="false"
               relationship="stack"
               id="com.pnehrer.rss.ui.views.ChannelNavigator">
         </view>
         <viewShortcut
               id="com.pnehrer.rss.ui.views.ChannelNavigator">
         </viewShortcut>
         <newWizardShortcut
               id="com.pnehrer.rss.ui.wizards.NewChannelWizard">
         </newWizardShortcut>
         <showInPart
               id="com.pnehrer.rss.ui.views.ChannelDetail">
         </showInPart>
         <showInPart
               id="com.pnehrer.rss.ui.views.ChannelNavigator">
         </showInPart>
         <perspectiveShortcut
               id="com.pnehrer.rss.ui.RSSPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               relative="org.eclipse.jdt.ui.PackagesView"
               visible="false"
               relationship="stack"
               id="com.pnehrer.rss.ui.views.ChannelNavigator">
         </view>
         <viewShortcut
               id="com.pnehrer.rss.ui.views.ChannelNavigator">
         </viewShortcut>
         <newWizardShortcut
               id="com.pnehrer.rss.ui.wizards.NewChannelWizard">
         </newWizardShortcut>
         <showInPart
               id="com.pnehrer.rss.ui.views.ChannelDetail">
         </showInPart>
         <showInPart
               id="com.pnehrer.rss.ui.views.ChannelNavigator">
         </showInPart>
         <perspectiveShortcut
               id="com.pnehrer.rss.ui.RSSPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <view
               relative="org.eclipse.jdt.ui.PackagesView"
               visible="false"
               relationship="stack"
               id="com.pnehrer.rss.ui.views.ChannelNavigator">
         </view>
         <viewShortcut
               id="com.pnehrer.rss.ui.views.ChannelNavigator">
         </viewShortcut>
         <newWizardShortcut
               id="com.pnehrer.rss.ui.wizards.NewChannelWizard">
         </newWizardShortcut>
         <showInPart
               id="com.pnehrer.rss.ui.views.ChannelDetail">
         </showInPart>
         <showInPart
               id="com.pnehrer.rss.ui.views.ChannelNavigator">
         </showInPart>
         <perspectiveShortcut
               id="com.pnehrer.rss.ui.RSSPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.pnehrer.rss.internal.ui.linkbrowser.LinkEditorInputFactory"
            id="com.pnehrer.rss.ui.LinkEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="com.pnehrer.rss.ui.linkbrowser">
      <linkbrowser
            label="Help Browser"
            class="com.pnehrer.rss.internal.ui.linkbrowser.HelpBrowser"
            id="helpbrowser">
      </linkbrowser>
      <linkbrowser
            label="User-configured Editor"
            class="com.pnehrer.rss.internal.ui.linkbrowser.BrowserEditor"
            id="browsereditor">
      </linkbrowser>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RSS"
            icon="xml_16.gif"
            class="com.pnehrer.rss.ui.RSSPerspective"
            id="com.pnehrer.rss.ui.RSSPerspective">
         <description>
            Eclipse RSS Reader perspective.
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            label="RSS Search"
            enabled="true"
            icon="xml_16.gif"
            extensions="rss:100"
            class="com.pnehrer.rss.internal.ui.search.RSSSearchPage"
            id="com.pnehrer.rss.ui.page1">
      </page>
   </extension>
   <extension
         id="rsssearchhitmarker"
         name="RSS Search Hit"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.search.searchmarker">
      </super>
      <attribute
            name="link">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="RSS"
            visible="true"
            id="com.pnehrer.rss.ui.actionSet1">
         <menu
               label="Se&amp;arch"
               path="navigate"
               id="org.eclipse.search.menu">
            <groupMarker
                  name="internalDialogGroup">
            </groupMarker>
<!-- not to be used by clients  -->
            <groupMarker
                  name="dialogGroup">
            </groupMarker>
<!-- to be used by clients      -->
            <separator
                  name="contextMenuActionsGroup">
            </separator>
         </menu>
         <action
               label="Channel..."
               icon="xml_16.gif"
               class="com.pnehrer.rss.ui.actions.OpenSearchDialogAction"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               id="com.pnehrer.rss.ui.actions.OpenSearchDialogAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Channel Viewer"
            default="true"
            icon="xml_16.gif"
            extensions="rss"
            contributorClass="com.pnehrer.rss.internal.ui.editor.ChannelEditorContributor"
            class="com.pnehrer.rss.internal.ui.editor.ChannelEditor"
            id="com.pnehrer.rss.ui.editor">
      </editor>
   </extension>

</plugin>
