<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.pnehrer.rss.ui"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="com.pnehrer.rss.ui.RSSUI">

   <runtime>
      <library name="ui.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="com.pnehrer.rss.core"/>
      <import plugin="org.eclipse.help.ui"/>
      <import plugin="org.eclipse.help"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <category
            name="RSS"
            id="rss.ui.category1">
      </category>
      <view
            name="Channel"
            category="rss.ui.category1"
            class="com.pnehrer.rss.ui.views.ItemTableView"
            id="com.pnehrer.rss.ui.itemTable">
      </view>
      <view
            name="Channel Explorer"
            category="rss.ui.category1"
            class="com.pnehrer.rss.ui.views.ChannelNavigator"
            id="com.pnehrer.rss.ui.navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="RSS"
            id="rss.ui.category1">
      </category>
      <wizard
            name="New Channel"
            category="rss.ui.category1"
            class="com.pnehrer.rss.ui.wizards.NewChannelWizard"
            id="rss.ui.wizard1">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.rss"
            id="rss.ui.objectContribution1">
         <menu
               label="RSS"
               id="rss.ui.menu1">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               label="&amp;Update from Source"
               class="com.pnehrer.rss.ui.actions.UpdateAction"
               menubarPath="rss.ui.menu1/additions"
               enablesFor="+"
               id="rss.ui.action1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="RSS"
            nameFilter="*.rss"
            class="com.pnehrer.rss.ui.RSSPropertyPage"
            id="rss.ui.page1">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="RSS"
            class="com.pnehrer.rss.ui.RSSPreferencePage"
            id="com.pnehrer.rss">
      </page>
   </extension>

</plugin>
